.jumbotron {
	/*  Background fallback in case of IE8 & down, or in case the image doesn't load, such as with slower connections  */
	background: url("http://paperlief.com/images/list-of-all-pixar-characters-wallpaper-3.jpg") center center no-repeat fixed #464646;

	font-family: Serif, Monospace;
	height: 400px;
	width: auto;
	opacity: 0.5;
}

h1, h4 {

	color: black;
	font-weight: bold;
}