.jumbotron {
	/*  Background fallback in case of IE8 & down, or in case the image doesn't load, such as with slower connections  */
	background: url("https://pokemonteams.printmighty.co.nz/assets/Uploads/pokemon.png") center center no-repeat fixed #464646;
	font-family: Serif, Monospace;
	height: 500px;
	margin-top: 50px;
	width: auto;
	opacity: 0.8;
}

h1, h4 {
	color: black;
	font-weight: bold;
}